#react-activity-calendar{
    margin: auto;
    width:60%
}
#github-streak-stats{
    margin-top: 50px;
}
#github-top-langs{
    margin-top: 50px;  
}

#github-stats-card{
    margin-top: 50px;  
    padding: 20px;
}
#All-cards{
   display: flex;
   justify-content: space-around;
   align-items: center; 
}
#All-cards div:nth-child(2){
    margin-left: 20px;
}