#react-activity-calendar{
    margin: auto;
    width:60%
}
#github-streak-stats{
    margin-top: 50px;
}
#github-top-langs{
    margin-top: 50px;  
}

#github-stats-card{
    margin-top: 50px;  
    padding: 20px;
}
