#react-activity-calendar{
    margin: auto;
    width:60%
}
#github-streak-stats{
    margin-top: 50px;
}
#github-top-langs{
    margin-top: 50px;  
}

#github-stats-card{
    margin-top: 50px;  
    padding: 20px;
}
#All-cards{
   display: flex;
   justify-content: space-around;
   align-items: center; 
}
#All-cards div:nth-child(2){
    margin-left: 20px;
}

#github{
    margin-top: 200px;
}
h1{
    color:#444452;
    font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 350;
    margin-bottom: 70px;
    font-size: 35px;
}