#home-image{

    width:40%;
   
}
#home-image>img{
    width:100%;
    margin-top: 20%;
    
}
#home{
   
    display: flex;
    background:var(--bg-color);
   

}
#home-content{
    margin-top: 100px;
    width:65%;
    
}
#home-content>p:nth-child(1){

margin-left: -590px;
font-size:x-large;
line-height: 10px;
color:#00abf0
}
 #home-content>h1{
    font-size:50px;
    margin-left: 55px;
    line-height: 50px;
    text-align: left;
    /* animation: gradient 6s ease infinite; */
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: var(--color);
    
   
    } 

    #home-content h2:nth-child(1){
        font-size:28px;
        margin-left: 55px;
        line-height: 50px;
        text-align: left;
        /* animation: gradient 6s ease infinite; */
        font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 300;
        color:var(--color);
       
        } 
        #home-content h2:nth-child(1)>span{
            width:30px;
            height:30px;
            margin-left: 10px;
            }
        #home-content h2:nth-child(1)>span:hover{
            animation:wave 1s ease;
            transform-origin: 100% 100%; 
            display: inline-block;
        }
        @keyframes wave {
            0% { transform: rotate( 0.0deg) }
            10% { transform: rotate(20.0deg) } 
            30% { transform: rotate(-10.0deg) }
            50% { transform: rotate(20.0deg) }
           100% { transform: rotate( 0.0deg) }
            
        }
        
    /* @keyframes gradient {
        0% { color: #6bc5f8; }
        12%{color:#cf59e6;}
        25% { color: #6bc5f8; }
        38% { color: #cf59e6; }
        50% { color: #6bc5f8; }
        62%{color:#cf59e6;}
        75% { color: #6bc5f8; }
        88% { color: #cf59e6; }
        100% { color: #6bc5f8; }
      }  */
#home-content>h2{
    font-size:30px;
    margin-left:60px;
    line-height: 40px;
    text-align: left;
    font-weight: 300;
    color:var(--color);
}
#home-content>h2>span{
    font-size:30px;
    line-height: 40px;
    text-align: left;
    font-weight: 300;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}
#home-content>p:nth-child(4){
    font-size:x-large;
    margin-left: 60px;
    line-height: 40px;  
    text-align: left;
   
}
.container{
    height:370px;
    width:370px;
    /* border:1px solid #ffffff; */
    position: absolute;
    margin:60px
    
}
.moon{
 background-color: #39beff;
 height:170px;
 width:170px;
 border-radius: 50%;
 position: absolute;
 margin: 100px;
 overflow: hidden;
}
.crater{
   background-color: #31b4ff;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   position: relative;
}
.crater:before{
 content:"";
 position: absolute;
 height:25px;
 width:25px;
 border-radius: 50%;
 box-shadow: -5px 0px 0 2px #1ca4f9;
 top:2px;
 left:7px
}
.crater-1{
    top:132px;
    left:190px;
    transform:scale(0.9)
}
 .crater-2{
    top:90px;
    left:150px;
    transform:scale(0.6)
}
 .crater-3{
    top:112px;
    left:110px;
    transform:scale(0.75)
} 
.crater-4{
    top:122px;
    left:210px ;
    transform:scale(1.15)
 }
.crater-5{
    top:102px;
    left:130px;
    transform:scale(0.7)
} 
.shadow{
 width:165px;
 height: 160px;
 box-shadow: 21px 0 0 5px rgba(0,0,0,0.15);
 border-radius: 50%;
 position:relative;
  bottom: 45px;
 left:80px 
}

.eye{
    height:12px;
    width:12px;
    background-color: #161616;
    position: relative;
    border-radius: 50%;
}
.eye-l{
  bottom: 135px;
  left:160px
}
.eye-r{
    bottom: 147px;
    left:200px
  }
.mouth{
    height: 5px;
    width: 10px;
    border: 3px solid #161616;
    position: relative;
    bottom: 141px;
    left:179px;
    border-top: none;
    border-radius: 0 0 10px 10px;

}
.blush{
height:10.5px;
width:10.5px; 
background-color: rgb(168, 64, 81);
position: relative;
border-radius: 50%; 
}
.blush-1{
 bottom: 148px;
 left:148px
}
.blush-2{
    bottom: 160px;
    left:215px
   }
.orbit{
    height:280px;
    width:280px;
    border: 1px solid gray;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    margin-left: 106px;
    animation:spin 5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.rocket{
    background-color: #fafcf7;
    height:50px;
    width:25px;
     border-radius: 50% 50% 0 0; 
    position:relative;
    left: -11px;
     top:115px; 
     border: 1px solid gray;
    
}
/* #39beff */
.rocket:before{
    position:absolute;
    content:" ";
    background-color:green ;
    height: 20px;
    width:55px;
    border-radius: 50% 50% 0 0;
    right: -15px;
    bottom: 0;
    z-index: 0;
    
}
.rocket:after{
    position:absolute;
    content:"";
    background-color: #39beff;
    height: 4px;
    width:15px;
    border-radius: 0 0 2px 2px;
    bottom: -4px;
    left:4.3px;
}
.window{
    height:8px;
    width:8px;
    background-color: #151845;
    border: 2px solid #b8d2ec;
    position: relative;
    border-radius:50%;
    top: 12px;
    left:6px
}

@media screen and (max-width:820px) {
    #home-image{

        width:40%;
    }
  
    #home{
       
        display: block;
        background:var(--bg-color);
       
    
    }
    #home-content{
        margin-top: 40px;
        width:40%;
        
        
    }
  
     
        #home-content h2:nth-child(1){
            font-size:26px;
            margin-left: 20px;
            line-height: 40px;
            text-align: left;
            /* animation: gradient 6s ease infinite; */
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
            font-weight: 300;
            color:var(--color);
           
            } 
            #home-content h2:nth-child(1)>span{
                width:30px;
                height:30px;
                margin-left: 10px;
                }

            
       
    #home-content>h2{
        font-size:26px;
        margin-left:20px;
        line-height: 40px;
        text-align: left;
        font-weight: 350;
        color:var(--color);
    }
    #home-content>h2>span{
        font-size:26px;
        line-height: 40px;
        text-align: left;
        font-weight: 500;
        font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    }
  
    .container{
        height:370px;
        width:370px;
        /* border:1px solid #ffffff; */
        position: absolute;
        margin:0px;
        margin-left: -20px;

        
    }
    .orbit{
        height:280px;
        width:280px;
        border: 1px solid gray;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        margin-top: 40px;
        margin-left: 25px;
        
    }
 
}

@media screen and (max-width:420px) {
    #home-image{

        width:40%;
    }
  
    #home{
       
        display: block;
        background:var(--bg-color);
       
    
    }
    #home-content{
        margin-top: 20px;
        width:90%;
        
        
    }
  
     
        #home-content h2:nth-child(1){
            font-size:23px;
            margin-left: 20px;
            line-height: 10px;
            text-align: left;
            /* animation: gradient 6s ease infinite; */
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
            font-weight: 300;
            color:var(--color);
           
            } 
            #home-content h2:nth-child(1)>span{
                width:20px;
                height:20px;
                margin-left: 10px;
            
                }

            
       
    #home-content>h2{
        font-size:23px;
        margin-left:20px;
        line-height: 30px;
        text-align: left;
        font-weight: 350;
        color:var(--color);
    }
    #home-content>h2>span{
        font-size:23px;
        line-height: 30px;
        text-align: left;
        font-weight: 500;
        font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    }
  
    .container{
        height:370px;
        width:370px;
        /* border:1px solid #ffffff; */
        position: absolute;
        margin:0px;
        margin-left: -20px;

        
    }
    .orbit{
        height:280px;
        width:280px;
        border: 1px solid gray;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        margin-top: 40px;
        margin-left: 25px;
        
    }
 
}