.project-card{
    /* border:2px solid #444452; */
    padding: 50px;
    /* display: flex; */
    width:70%;
    margin:auto;
    text-align: left;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    

}
#title{
    text-align: center;
    font-weight: 350;
    font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 35px;
    color: var(--color);

}
.project-title{
  color:var(--color)

}
.project-description{
    font-size: 20px;
}

.project-card>div>img{
    width:900px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    margin-left: 25px;
}
/* .project-card>div>img:nth-child(2){
    width:400px;
    margin-left: -100px;
    margin-top:100px ;
    height:350px;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
/* .project-card>div>img:nth-child(3){
    width:200px;
    margin-left: -100px;
    margin-top:200px ;
    height:250px;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}  */

.project-details{
    margin-left: 30px;
    color: var(--color);
    
}

#projects{
    margin-top: 250px;
    font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    color:var(--color)
}
.project-tech-stack{
    display: flex;
    align-items: center;
}
.project-tech-stack div{
  margin-top: -10px;
  line-height: 20px;
  margin-left: 3px;
  display: flex;
  gap:15px;
  margin-left:15px;
}

.project-tech-stack div p{
 padding: 8px;
 background-color:gray;
 width:fit-content;
 border-radius: 6px;
 color:var(--footer-color) ;
 font-size: 15px;
 font-weight: 400;




}

.project-tech-stack>h3{
 margin-left: 0px;
 font-size: 18px;
 margin-top: 5px;
}
h2{
 font-weight: 600;
 font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
 color:var(--color)
}
button{
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 8px;
    font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    /* color:var(--color); */
    background-color: var(--bg-color);
    color:#00abf0;
    border:2px solid #00abf0;
    cursor:pointer
   

}

.heading{
     
 display: flex;
 justify-content: space-between;
 margin-bottom: -20px;
 margin-top:20px

}

@media screen and (max-width:820px){
    .project-card{
        /* border:2px solid #444452; */
        padding: 50px;
        /* display: flex; */
        width:40%;
        margin:auto;
        text-align: left;
        border-radius: 20px;
        margin-top: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 10px;
    
    }
    #title{
        text-align: center;
        font-weight: 600;
        font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        font-size: 28px;
        color: var(--color);
        margin-left: -350px;
    
    }
    .project-title{
      color:var(--color)
    
    }
    .project-description{
        font-size: 18px;
    }
    
    .project-card>div>img{
        width:118%;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        margin-left: -30px;
    }
 
    
    .project-details{
        margin-left: -20px;
        color: var(--color);
        
    }
    
    #projects{
        margin-top: 150px;
        font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        color:var(--color)
    }
    .project-tech-stack{
        display: flex;
        align-items: center;
        
    }
    .project-tech-stack div{
      
      margin-top: 20px;
      line-height: 20px;
      margin-left: 3px;
      display: flex;
      gap:15px;
      margin-left:20px;
      
      flex-wrap: wrap;
    }
    
    .project-tech-stack div p{
     padding: 4px;
     background-color:gray;
     width:fit-content;
     border-radius: 6px;
     color:var(--footer-color) ;
     font-size: 12px;
     font-weight: 400;
     flex-shrink: 1;
     margin-top: -18px;
    
    
    
    }
    
    .project-tech-stack>h3{
     margin-left: 0px;
     font-size: 16px;
     margin-top: 5px;
    }
    h2{
     font-weight: 600;
     font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
     color:var(--color)
    }
    button{
        font-size: 14px;
        margin-top: -10px;
        padding: 3px 6px 3px 6px;
        border: none;
        border-radius: 8px;
        font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        /* color:var(--color); */
        background-color: var(--bg-color);
        color:#00abf0;
        border:2px solid #00abf0;
        cursor:pointer;
        margin-right: 5px;
       
    
    }
    
    .heading{
      margin-bottom: 0px; 
     margin-top:20px;
     display: block;
     margin-left: 0px;
    
    }
    
}

@media screen and (max-width:420px){
    .project-card{
        /* border:2px solid #444452; */
        padding: 50px;
        /* display: flex; */
        width:50%;
        margin:auto;
        text-align: left;
        border-radius: 20px;
        margin-top: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
    
    }
    #title{
        text-align: center;
        font-weight: 600;
        font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        font-size: 24px;
        color: var(--color);
        margin-left:0px;
    
    }
    .project-title{
      color:var(--color)
    
    }
    .project-description{
        font-size: 14px;
    }
    
    .project-card>div>img{
        width:135%;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        margin-left: -30px;
    }
 
    
    .project-details{
        margin-left: -20px;
        color: var(--color);
        
    }
    
    #projects{
        margin-top: 100px;
        font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        color:var(--color)
    }
    .project-tech-stack{
        display: flex;
        align-items: center;
        
    }
    .project-tech-stack div{
      
      margin-top: 20px;
      line-height: 20px;
      margin-left: 3px;
      display: flex;
      gap:15px;
      margin-left:20px;
      
      flex-wrap: wrap;
    }
    
    .project-tech-stack div p{
     padding: 4px;
     background-color:gray;
     width:fit-content;
     border-radius: 6px;
     color:var(--footer-color) ;
     font-size: 10px;
     font-weight: 400;
     flex-shrink: 1;
     margin-top: -18px;
    
    
    
    }
    
    .project-tech-stack>h3{
     margin-left: 0px;
     font-size: 16px;
     margin-top: 5px;
    }
    h2{
     font-weight: 600;
     font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
     color:var(--color)
    }
    button{
        font-size: 14px;
        margin-top: -10px;
        padding: 3px 6px 3px 6px;
        border: none;
        border-radius: 8px;
        font-family:Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
        /* color:var(--color); */
        background-color: var(--bg-color);
        color:#00abf0;
        border:2px solid #00abf0;
        cursor:pointer;
       
    
    }
    
    .heading{
      margin-bottom: 0px; 
     margin-top:20px;
     display: block;
     margin-left: 0px;
    
    }
    
}